//comentario en sass
/*comentario en sass y en css*/

//import/use
@use "utilities/variables" as *;
@use "utilities/listas" as *;
//nesting
header{
    background-color: nth($lista-colores , 7);
    display: flex;
    justify-content: center;
    align-items: center;
    .logo{
        width: 100%;
    }
    nav{
        ul{
            color: $color-principal;
            display: flex;
            li{
                color: $color-secundario;
            }
        }
    }
}

main{
    .card-producto{
        width: $medida-principal * 2;
    }
}